<!DOCTYPE html>
<html>
  <head>
    <title>How to make a sando</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <p>Dear School Nurse:</p>
    <p>
    @Model.Silly1 @Model.Lname  will not be attending school today. He/she has come down with a case of @Model.Illness and has horrible @Model.Nouns and a/an @Model.Adj1 fever.<br>
    We have made an appointment with the @Model.Adj2 Dr. @Model.Silly2, who studied for many years in @Model.Place and has @Model.Num1 degrees in pediatrics.<br>
    He will send you all the information you need.<br>
    Thank you!<br>
    Sincerely<br>
    Mrs. @Model.Adj3.
    </p>
  </body>