<!DOCTYPE html>
<html>
  <head>
    <title>How to make a sando</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>How to make a pb&j sando</h1>
    <ol>
      <li>
        Select the type of bread you want to use. Many prefer the taste of @Model.Color1 bread, while others prefer @Model.Noun1 bread because it is healthy.
      </li>
      <li>
        Choose the flavor of Jam/Jelly. I personally prefer @Model.Food1 jam, but you can use whatever you want.
      </li>
      <li>
        Choose the type of penut butter - either @Model.Adj1 or @Model.Adj2.
      </li>
      <li>
        Take out @Model.Num1 slice(s) of bread.
      </li>
      <li>
        Use a @Model.Noun2 to @Model.Verb1 the jam all over on of the pieces of bread.
      </li>
      <li>
        Now @Model.Verb1 the penut butter on the other piece of bread.
      </li>
      <li>
        Put them together, and you have a PB&J @Model.Noun3 .
      </li>
    </ol>
  </body>
</html>